* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(20, 20, 20);
}

.navbar {
  border-top: 10px solid #1abc9c;
  opacity: 0.9;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* padding: 20px; */
  background-color: #fff;
}

.navbar a {
  font-weight: 900;
  align-items: center;
  text-decoration: none;
  padding: 20px 0;
  font-size: 1.2rem;
  color: #1abc9c;
  width: 25%;
  background-color: #fff;
  /* border: 1px solid black; */
  text-align: center;
  transition: background-color 0.25s ease-out;
}
.navbar a:hover {
  color: #fff;
  background-color: black;
  /* font-weight: 700; */
}
.navbar a:focus {
  text-decoration: none;
  background-color: #1abc9c;
  color: #fff;
}

.navbar a:active {
  text-decoration: none;
  color: black;
}

input {
  position: absolute;
  top: 100px;
  left: 30px;
  border: 0;
  background-color: #fff;
  border-radius: 50px;
  padding: 25px;
  width: 300px;
  height: 15px;
  transition: all 0.2s ease-in-out;
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: gray;
  font-size: 25px;
}

input:hover {
  background-color: #1abc9c;
}

input:hover::placeholder {
  color: #fff;
}

textarea:focus,
input:focus {
  background-color: #fff;
  color: gray;
  outline: none;
  width: 95vw;
  transition: all 0.5s ease-in-out;
}

button,
html input[type='button'],
input[type='submit'] {
  text-transform: uppercase;
  background-color: orange;
  position: relative;
  top: 170px;
  left: 30px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 10%;
  height: 15px;
}

.text {
  text-align: center;
  color: #fff;
  font-family: 'Lato', 'Helvetica', sans-serif;
  margin: 5px 0;
}

h1.text {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 40px;
  color: #1abc9c;
  /* border: 5px solid #1ABC9C; */
  margin: 100px 0 50px 0;
}

.movies-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

p.text {
  font-weight: 300;
  font-size: 20px;
}
p.text:nth-child(1) {
  margin-top: 50px;
}

span.overlay span {
}

@keyframes glow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.movie-card {
  background-color: #1abc9c;
  opacity: 1;
}

.movie-card:hover {
  /* opacity: 0.7;
  transition: opacity 0.25s ease-out; */
  animation: glow 2s ease-out infinite;
  cursor: pointer;
}

.movie-detail-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-detail-info p {
  width: 100%;
}
